/** App & Layout **/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.layout {
  min-height: 100vh;
}

.content {
  padding: 16px;
}

/** LoginCard & SignupCard **/
.sign-card {
  max-width: 350px;
  margin: 0 auto;
}

.sign-card__title {
  font-size: 18px;
}

.sign-card__bottom-area {
  text-align: center;
}

.sign-card__bottom-title {
  margin-bottom: 16px;
}

/** HomeCard **/
.home-card {
  max-width: 350px;
  margin: 0 auto;
}

.home-card__title {
  font-size: 16px;
  margin-bottom: 0;
}

.home-card__email {
  font-size: 14px;
  color: deepskyblue;
}

.home-card__button {
  margin-top: 16px;
}
